{% extends 'base.html.twig' %}

{% block title %}Asistente de creación de conjunto de datos - Ayuda{% endblock title %}

{% block body %}
<div class="container">
    <div class="row">
        <div class="col col-12 col-md-3 col-navegacion">
            <div class="cabecera">
                <p>Ayuda</p>
            </div>
            <div class="cuerpo">
    <div class="categoria">
        <p class="titulo" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">Asistente de creación de un conjunto de datos</p>
        <div id="collapseOne" class="collapse show" style=""> 
            <div class="cuerpo">            
                <div class="categoria">        
                    <p class="titulo" data-toggle="collapse" data-target="#collapseStepOne" aria-expanded="true" aria-controls="collapseStepOne">1. Descripción de los datos</p>
                    <ul id="collapseStepOne" class="collapse show" style="">
                        <li>
                            <a href="javascript: visible(11);">1.1. Contenido</a>
                        </li>
                        <li>
                            <a href="javascript: visible(12);">1.2. Contexto</a>
                        </li>
                        <li>
                            <a href="javascript: visible(13);">1.3. Estructura</a>
                        </li>
                    </ul>
                </div>
                <div class="categoria">
                    <p class="titulo" data-toggle="collapse" data-target="#collapseStepTwo" aria-expanded="true" aria-controls="collapseStepTwo">2. Origen de los datos</p>
                    <ul id="collapseStepTwo" class="collapse show" style="">
                        <li>
                            <a href="javascript: visible(21);">2.a. Origen en URL</a>
                        </li>
                         <li>
                            <a href="javascript: visible(22);">2.b. Origen en archivo</a>
                        </li>
                         <li>
                            <a href="javascript: visible(23);">2.c. Origen en Base de Datos</a>
                        </li>
                    </ul>    
                </div>
                <div class="categoria">
                    <p class="titulo" data-toggle="collapse" data-target="#collapseStepThree" aria-expanded="true" aria-controls="collapseStepThree">3. Integración de los datos</p>
                    <ul id="collapseStepThree" class="collapse show" style="">
                        <li>
                            <a href="javascript: visible(31);">3.1. Selección de entidad principal del EI2A</a>
                        </li>
                        <li>
                            <a href="javascript: visible(32);">3.2. Alineación con los atributos</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
            </div>
            <div class="categoria">
                <p class="titulo" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="true" aria-controls="collapseTwo">Listado de conjuntos de datos</p>
                <ul id="collapseTwo" class="collapse show" style="">
                    <li>
                        <a href="javascript: visible(41);">Info de Listado</a>
                    </li>
                </ul>
            </div>
            <div class="categoria">
                <p class="titulo" data-toggle="collapse" data-target="#collapseThree" aria-expanded="true" aria-controls="collapseThree">Ficha del conjunto de datos</p>
                <ul id="collapseThree" class="collapse show" style="">
                    <li>
                        <a href="javascript: visible(51);">Info de Ficha</a>
                    </li>
                </ul>
            </div>
        </div>                  
        </div>
        <div class="col col-12 col-md-9 col-seccion">
            <div id="ayuda_10" class="wrapCol">
                <div class="contenido">
                    <div class="wrapCol">
                        <div class="header-resource">
                            <a style="display: inline-flex;margin-right: 110px;"href="#" id="soporte_10" onclick="solicitarSoporte();" class="btn">Solicitud de soporte</a>
                            <a style="display: inline-flex" href="#" id="volver_10" onclick="volver();" class="btn">Volver</a>
                            <div class="h1-container">
                                <h1>1. Descripción de los datos</h1>
                            </div>                            
                        </div>
                        <div class="contenido">
                            <div id="ayuda_11" class="grupo grupo-subtitulo">
                                <h3 class="titulo-principal">El asistente para la creación de un conjunto de datos tiene tres pasos principales:</h3>
                                    <ul>
                                        <li style="color:#b57809"><b>1. Descripción de los datos</b> donde el usuario incluye la información más descriptiva del conjunto de datos.</li>
                                        <li><b>2. Origen de los datos</b> donde el usuario configura el acceso a los datos que desea incorporar.</li>
                                        <li><b>3. Integración de los datos</b> donde el usuario relaciona sus datos con la Estructura de Información Interoperable de Aragón EI2A.</li>
                                    </ul>
                                <h3 class="titulo-principal">1.1. Contenido:</h3>
                                <p>El primer paso consiste en completar los siguientes campos relacionados con la descripción del contenido del conjunto de datos que se desea incorporar. Las características de los campos son las siguientes:<p>
                                <table>
                                    <thead>
                                        <tr>
                                            <th>Campo</th>
                                            <th>Obligatorio</th>
                                            <th>Descripción</th>
                                            <th>Información</th>                        
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td>Denominación</td>
                                            <td>Si</td>
                                            <td>Nombre del conjunto de datos.</td>
                                            <td>Debe ser único porque se va a convertir en su identificador.</td>                               
                                        </tr>
                                        <tr>
                                            <td>Descripción</td>
                                            <td>Si</td>
                                            <td>Texto breve que describe el contenido del conjunto de datos.</td>
                                            <td>La descripción es la primera aproximación de un usuario a tu conjunto de datos, así que se debería comenzar contando brevemente qué contiene el mismo. Si el conjunto de datos contiene informaciones parciales, limitaciones o deficiencias, este es el lugar en el que puedes mencionarlas de forma que los usuarios puedan saber el alcance de la información.</td>
                                        </tr>
                                        <tr>
                                            <td>Frecuencia de actualización</td>
                                            <td>No</td>
                                            <td>Frecuencia de tiempo con la que se actualizan los datos.</td>
                                            <td>Este campo sirve para indicar con qué frecuencia (Anual, Semestral, Cuatrimestral, Trimestral, Mensual, Diaria o Instantánea) se actualiza la información aquí contenida.</td>
                                        </tr>
                                        <tr>
                                            <td>Fecha de Inicio</td>
                                            <td>No</td>
                                            <td>Fecha de inicio del periodo temporal del que contiene información tu conjunto de datos.</td>
                                            <td></td>
                                        </tr>
                                        <tr>
                                            <td>Fecha de Final</td>
                                            <td>No</td>
                                            <td>Fecha final del periodo temporal del que contiene información tu conjunto de datos</td>
                                            <td>Si tu conjunto de datos está vivo y se va refrescando a medida que pasa el tiempo, deja este campo en blanco. Si has indicado una fecha de inicio, en ese caso entenderemos que tu conjunto de datos contiene información desde la fecha que indiques hasta la actualidad.</td>
                                        </tr>
                                        <tr>
                                            <td>Territorio que abarcan</td>
                                            <td>Si</td>
                                            <td>Ambito geográfico del que tu conjunto de datos contiene información</td>
                                            <td>Selecciona el ámbito deseado y si es "Provincia", "Comarca" o "Localidad", escribe el nombre y la función de autocompletado te permitirá seleccionar el valor normalizado del que disponemos. En el caso de no encontrar el nombre requerido, introduce el valor en "Otros".</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                            <div id="ayuda_12" class="grupo grupo-subtitulo">
                                <h3 class="titulo-principal">El asistente para la creación de un conjunto de datos tiene tres pasos principales:</h3>
                                    <ul>
                                        <li style="color:#b57809"><b>1. Descripción de los datos</b> donde el usuario incluye la información más descriptiva del conjunto de datos.</li>
                                        <li><b>2. Origen de los datos</b> donde el usuario configura el acceso a los datos que desea incorporar.</li>
                                        <li><b>3. Integración de los datos</b> donde el usuario relaciona sus datos con la Estructura de Información Interoperable de Aragón EI2A.</li>
                                    </ul>
                                <h3 class="titulo-principal">1.2. Contexto:</h3>
                                <p>Aquí se introduce la información relacionada con el contexto del conjunto de datos que se desea incorporar. Las características de los campos son las siguientes:<p>
                                <table>
                                    <thead>
                                        <tr>
                                            <th>Campo</th>
                                            <th>Obligatorio</th>
                                            <th>Descripción</th>
                                            <th>Notas</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td>Órgano responsable</td>
                                            <td>Si</td>
                                            <td>Organización encargada de la publicación de este conjunto de datos.</td>
                                            <td>Esta información se ha confeccionado con los datos aportados al dar de alta la organización publicadora, para modificarla utiliza la pizarra de administración de tu organización.</td>
                                        </tr>
                                        <tr>
                                            <td>Finalidad</td>
                                            <td>Si</td>
                                            <td>Estos son los temas conforme a la Norma Técnica de Interoperabilidad</td>
                                            <td>Elige el que creas que se adapta mejor a la información que contiene tu conjunto de datos</td>
                                        </tr>
                                        <tr>
                                            <td>Licencia tipo aplicable y condiciones de uso</td>
                                            <td>No</td>
                                            <td>Tipo de licencia</td>
                                            <td>Para promover la máxima reutilización, en Aragón Open Data establecemos por defecto una licencia Creative Commons Attribution 4.0 según se expone en la sección Términos de uso. Si tu conjunto de datos por alguna razón legal, contractual o de otro tipo no puede ser ofrecido con esta licencia escríbenos a opendata@aragon.es y la modificaremos</td>
                                        </tr>
                                        <tr>
                                            <td>Vocabularios</td>
                                            <td>No</td>
                                            <td>Vocabularios relacionados</td>
                                            <td>Puedes introducir una o varias URLs y pulsar ENTER para añadir cada una</td>
                                        </tr>
                                        <tr>
                                            <td>Servicios y estándares implicados</td>
                                            <td>No</td>
                                            <td>Si has utilizado alguna metodología para controlar la calidad de los datos este es el lugar para explicarla, por ejemplo normas ISO, normas concretas… etc. Si tus metodologías de control de calidad están explicadas en un enlace externo, copia aquí la dirección o direcciones.</td>
                                            <td>Puedes introducir una o varias URLs y pulsar ENTER para añadir cada una</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                            <div id="ayuda_13" class="grupo grupo-subtitulo">
                                <h3 class="titulo-principal">El asistente para la creación de un conjunto de datos tiene tres pasos principales:</h3>
                                    <ul>
                                        <li style="color:#b57809"><b>1. Descripción de los datos</b> donde el usuario incluye la información más descriptiva del conjunto de datos.</li>
                                        <li><b>2. Origen de los datos</b> donde el usuario configura el acceso a los datos que desea incorporar.</li>
                                        <li><b>3. Integración de los datos</b> donde el usuario relaciona sus datos con la Estructura de Información Interoperable de Aragón EI2A.</li>
                                    </ul>
                                <h3 class="titulo-principal">1.3. Estructura:</h3>
                                <p>La estructura del conjunto de datos se describe en este apartado. Las características de los campos son las siguientes:<p>
                                <table>
                                    <thead>
                                        <tr>
                                            <th>Campo</th>
                                            <th>Obligatorio</th>
                                            <th>Descripción</th>
                                            <th>Notas</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td>Estructura</td>
                                            <td>No</td>
                                            <td>Información sobre la estructura de los datos.</td>
                                            <td>Introduce un resumen sobre como se encuentran estructurados los datos.</td>
                                        </tr>
                                        <tr>
                                            <td>Denominación y orden de aspectos formales como las instancias o entidades que ofrece</td>
                                            <td>No</td>
                                            <td>Granularidad de los datos</td>
                                            <td>Introduce una breve descripción sobre la granularidad de los datos.</td>
                                        </tr>
                                        <tr>
                                            <td>Formatos disponibles</td>
                                            <td>No</td>
                                            <td>Formatos disponibles en los que se encuentran disponibles los datos.</td>
                                            <td>Introduce una breve descripción sobre los formatos.</td>
                                        </tr>
                                        <tr>
                                            <td>Etiquetas</td>
                                            <td>No</td>
                                            <td>Cada uno de los tags que se pueden enlazar al conjunto de datos.</td>
                                            <td>Introduce el texto y pulsa ENTER para añadir uno.</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>          
                    </div>
                </div>
            </div>
            <div id="ayuda_20" class="wrapCol">
                <div class="contenido">
                    <div class="wrapCol">
                        <div class="header-resource">
                            <a style="display: inline-flex;margin-right: 110px;"href="#" id="soporte_20" onclick="solicitarSoporte();" class="btn">Solicitud de soporte</a>
                            <a style="display: inline-flex" href="#" id="volver_20" onclick="volver();" class="btn">Volver</a>
                           
                            <div class="h1-container">
                                <h1>2. Origen de los datos</h1>
                            </div>
                        </div>
                    </div>
                    <div class="contenido">
                        <div id="ayuda_21" class="grupo grupo-subtitulo">
                            <h3 class="titulo-principal">El asistente para la creación de un conjunto de datos tiene tres pasos principales:</h3>
                                <ul>
                                    <li><b>1. Descripción de los datos</b> donde el usuario incluye la información más descriptiva del conjunto de datos.</li>
                                    <li style="color:#b57809"><b>2. Origen de los datos</b> donde el usuario configura el acceso a los datos que desea incorporar.</li>
                                    <li><b>3. Integración de los datos</b> donde el usuario relaciona sus datos con la Estructura de Información Interoperable de Aragón EI2A.</li>
                                </ul>
                            <h3 class="titulo-principal">2.a. Origen en URL</h3>
                            <p>En el paso 2, el usuario tiene tres tipos de posibilidades para cargar los datos: URL, archivo o base de datos.<p>
                            <ul>
                                <li>
                                    Los pasos a seguir en cada uno de ellos son similares:
                                    <ul>
                                        <li>El usuario selecciona el origen de sus datos (Url archivo, o base de datos).</li>
                                        <li>El usuario informa el formulario que parece en cada caso.</li>
                                        <li>El usuario pulsa el botón “comprobar”. La página responderá al usuario con la aprobación o no, de la carga solicitada.</li>
                                        <li>Si la carga es resultado de una comprobación valida, la página mostrará la estructura de los datos a modo de listado de campos subidos.</li>
                                        <li>El usuario guarda el origen de los datos y puede continuar con el siguiente paso.</li>
                                    </ul>
                                </li>
                            </ul>
                            <p>Los formatos permitidos son XML, JSON, CSV,  XLS y XLSX. Esto quiere decir que la url informada ha de tener como destino un archivo accesible de manera directa y pública. No serán válidas las url con redirecciones o no públicas.</p>
                            <ul>   
                                <li>
                                    A modo de ejemplo ponemos algunas url validas
                                    <ul>
                                        <li>http://dominio.ejemplo.com/datos.xml</li>
                                        <li>http://dominio.ejemplo.com/datos.json</li>
                                        <li>http://dominio.ejemplo.com/datos.csv</li>
                                        <li>http://dominio.ejemplo.com/datos.xls</li>  
                                        <li>http://dominio.ejemplo.com/datos.xlsx</li>                                  
                                    </ul>
                                </li>
                            </ul>   
                            <ul>   
                                <li>
                                    Además del formato permitido, el sistema solo admite las cargas de los datos en plantillas reconocibles que se pueden descargar desde los siguientes enlaces:
                                    <ul>
                                        <li><a href="/shared/Libro1.xml" class="descarga">Enlace a plantilla XML</a></li>
                                        <li><a href="/shared/Libro1.json" class="descarga">Enlace a plantilla JSON</a></li>
                                        <li><a href="/shared/Libro1.csv" class="descarga">Enlace a plantilla CSV</a></li>
                                        <li><a href="/shared/Libro1.xls" class="descarga">Enlace a plantilla XLS</a></li>   
                                        <li><a href="/shared/Libro1.xlsx" class="descarga">Enlace a plantilla XLSX</a></li>                                
                                    </ul>
                                </li>
                            </ul>
                            <p>Como se puede observar tras la descarga de las plantillas, la estructura ha de tener un único nivel entre los datos y los encabezados han de coincidir con los nombres de los campos.</p>
                            <p>De esta forma la carga de datos ha de tener una escritura de tabla plana, sin agrupamientos ni subniveles, ni filtros, ni otros elementos condicionantes.</p>
                             <table>
                                    <thead>
                                        <tr>
                                            <th>Extensión</th>
                                            <th>Nota sobre la estensión para la correcta carga de los datos</th>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td>CSV</td>
                                            <td>El formato csv tal y como viene en la plantilla, separa sus campos por ';'.</td>
                                        </tr>
                                        <tr>
                                            <td></td>
                                            <td>La primera linea se toma como titulos de los campos.</td>
                                        </tr>
                                        <tr>
                                            <td></td>
                                            <td>La primera columna se recomienda que sea el id de la entidad.</td>
                                        </tr>
                                        <tr>
                                            <td></td>
                                            <td>Las fechas se deben poner en formato 'dd/mm/yyyy'.</td>
                                        </tr>
                                         <tr>
                                            <td></td>
                                            <td>Asegurese de gurdar el archivo en fomato UTF8, de lo contrario podria perder caresteres especiles, acentos, diéresis...</td>
                                        </tr>
                                        <tr>
                                            <td>XLS y XLSX</td>
                                            <td>La fila se 1 interpreta como contenedora de los nombre de los campos.</td>
                                        </tr>
                                        <tr>
                                            <td></td>
                                            <td>Solo se lee la sopapa primera.</td>
                                        </tr>
                                        <tr>
                                            <td></td>
                                            <td>La primera columna se recomienda que sea el id de la entidad.</td>
                                        </tr>
                                        <tr>
                                            <td></td>
                                            <td> No ha de tener ni filtros, ni agrupamientos, ni formato datos.</td>
                                        </tr>
                                         <tr>
                                            <td></td>
                                            <td>Asegurese de gurdar el archivo en fomato UTF8, de lo contrario podria perder caresteres especiles, acentos, diéresis...</td>
                                        </tr>
                                        <tr>
                                            <td>XML</td>
                                            <td>Solo se permite un nivel de anidamiento: Uno con el nombre de la fila y un segundo con los campos.</td>
                                        </tr>
                                        <tr>
                                            <td></td>
                                            <td>Asegurese de gurdar el archivo en fomato UTF8, de lo contrario podria perder caresteres especiles, acentos, diéresis...</td>
                                        </tr>
                                         <tr>
                                            <td>JSON</td>
                                            <td>Solo se permite un nivel de anidamiento: Uno con el nombre del grupo y un segundo con los campos.</td>
                                        </tr>
                                        <tr>
                                            <td></td>
                                            <td>Asegurese de gurdar el archivo en fomato UTF8, de lo contrario podria perder caresteres especiles, acentos, diéresis...</td>
                                        </tr>
                                    </tbody>
                                </table> 
                        </div>  
                        <div id="ayuda_22" class="grupo grupo-subtitulo">
                            <h3 class="titulo-principal">El asistente para la creación de un conjunto de datos tiene tres pasos principales:</h3>
                                <ul>
                                    <li><b>1. Descripción de los datos</b> donde el usuario incluye la información más descriptiva del conjunto de datos.</li>
                                    <li style="color:#b57809"><b>2. Origen de los datos</b> donde el usuario configura el acceso a los datos que desea incorporar.</li>
                                    <li><b>3. Integración de los datos</b> donde el usuario relaciona sus datos con la Estructura de Información Interoperable de Aragón EI2A.</li>
                                </ul>
                            <h3 class="titulo-principal">2.b. Origen en archivo</h3>
                            <p>En el paso 2, el usuario tiene tres tipos de posibilidades para cargar los datos: URL, archivo o base de datos.<p>
                            <ul>   
                                <li>
                                    Los pasos a seguir en cada uno de ellos son similares:
                                    <ul>
                                        <li>El usuario selecciona el origen de sus datos (Url archivo, o base de datos).</li>
                                        <li>El usuario informa el formulario que parece en cada caso.</li>
                                        <li>El usuario pulsa el botón “comprobar”. La página responderá al usuario con la aprobación o no, de la carga solicitada.</li>
                                        <li>Si la carga es resultado de una comprobación valida, la página mostrará la estructura de los datos a modo de listado de campos subidos.</li>
                                        <li>El usuario guarda el origen de los datos y puede continuar con el siguiente paso.</li>                                    
                                    </ul>
                                </li>
                            </ul>
                            <p>Los formatos permitidos son XML, JSON, CSV y XLS.</p>  
                            <ul>   
                                <li>
                                    Además del formato permitido, es sistema solo admite las cargas de los datos en plantillas reconocibles y descargables en los siguientes enlaces:
                                    <ul>
                                        <li><a href="/shared/Libro1.xml" class="descarga">Enlace a plantilla XML</a></li>
                                        <li><a href="/shared/Libro1.json" class="descarga">Enlace a plantilla JSON</a></li>
                                        <li><a href="/shared/Libro1.csv" class="descarga">Enlace a plantilla CSV</a></li>
                                        <li><a href="/shared/Libro1.xls" class="descarga">Enlace a plantilla XLS</a></li>  
                                        <li><a href="/shared/Libro1.xlsx" class="descarga">Enlace a plantilla XLSX</a></li>                                  
                                    </ul>
                                </li>
                            </ul>
                            <p>Como se puede observar tras la descarga de las plantilla, la estructura ha de tener un único nivel entre los datos y los encabezados que han de coincidir, con los nombres de os campos.</p>
                            <p>De esta forma la carga de datos ha de tener una escritura de tabla plana, son agrupamientos ni subniveles, ni filtros, ni otros elementos condicionantes.</p>
                                <table>
                                    <thead>
                                        <tr>
                                            <th>Extensión</th>
                                            <th>Nota sobre la estensión para la correcta carga de los datos</th>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td>CSV</td>
                                            <td>El formato csv tal y como viene en la plantilla, separa suss campos por ';'.</td>
                                        </tr>
                                        <tr>
                                            <td></td>
                                            <td>La primera linea se toma como titulos de los campos.</td>
                                        </tr>
                                        <tr>
                                            <td></td>
                                            <td>La primera columna se recomienda que sea el id de la entidad</td>
                                        </tr>
                                        <tr>
                                            <td></td>
                                            <td>Las fechas se deben poner en formato 'dd/mm/yyyy'.</td>
                                        </tr>
                                         <tr>
                                            <td></td>
                                            <td>Asegurese de gurdar el archivo en fomato UTF8, de lo contrario podria perder caresteres especiles, acentos, diéresis...</td>
                                        </tr>
                                        <tr>
                                            <td>XLS y XLSX</td>
                                            <td>La fila se 1 interpreta como contenedora de los nombre de los campos.</td>
                                        </tr>
                                        <tr>
                                            <td></td>
                                            <td>Solo se lee la sopapa primera.</td>
                                        </tr>
                                        <tr>
                                            <td></td>
                                            <td>La primera columna se recomienda que sea el id de la entidad.</td>
                                        </tr>
                                        <tr>
                                            <td></td>
                                            <td> No ha de tener ni filtros, ni agrupamientos, ni formato datos.</td>
                                        </tr>
                                         <tr>
                                            <td></td>
                                            <td>Asegurese de gurdar el archivo en fomato UTF8, de lo contrario podria perder caresteres especiles, acentos, diéresis...</td>
                                        </tr>
                                        <tr>
                                            <td>XML</td>
                                            <td>Solo se permite un nivel de anidamiento: Uno con el nombre de la fila y un segundo con los campos.</td>
                                        </tr>
                                        <tr>
                                            <td></td>
                                            <td>Asegurese de gurdar el archivo en fomato UTF8, de lo contrario podria perder caresteres especiles, acentos, diéresis...</td>
                                        </tr>
                                         <tr>
                                            <td>JSON</td>
                                            <td>Solo se permite un nivel de anidamiento: Uno con el nombre del grupo y un segundo con los campos.</td>
                                        </tr>
                                        <tr>
                                            <td></td>
                                            <td>Asegurese de gurdar el archivo en fomato UTF8, de lo contrario podria perder caresteres especiles, acentos, diéresis...</td>
                                        </tr>
                                    </tbody>
                                </table> 
                        </div>
                        <div id="ayuda_23" class="grupo grupo-subtitulo">
                            <h3 class="titulo-principal">El asistente para la creación de un conjunto de datos tiene tres pasos principales:</h3>
                                <ul>
                                    <li><b>1. Descripción de los datos</b> donde el usuario incluye la información más descriptiva del conjunto de datos.</li>
                                    <li style="color:#b57809"><b>2. Origen de los datos</b> donde el usuario configura el acceso a los datos que desea incorporar.</li>
                                    <li><b>3. Integración de los datos</b> donde el usuario relaciona sus datos con la Estructura de Información Interoperable de Aragón EI2A.</li>
                                </ul>
                            <h3 class="titulo-principal">2.c. Origen en base de datos</h3>
                            <p>En el paso 2, el usuario tiene tres tipos de posibilidades para cargar los datos: URL, archivo o base de datos.<p>
                            <ul>   
                                <li>
                                    Los pasos a seguir en cada uno de ellos son similares:
                                    <ul>
                                        <li>El usuario selecciona el origen de sus datos (Url archivo, o base de datos).</li>
                                        <li>El usuario informa el formulario que parece en cada caso.</li>
                                        <li>El usuario pulsa el botón “comprobar”. La página responderá al usuario con la aprobación o no, de la carga solicitada.</li>
                                        <li>Si la carga es resultado de una comprobación valida, la página mostrará la estructura de los datos a modo de listado de campos subidos.</li>
                                        <li>El usuario guarda el origen de los datos y puede continuar con el siguiente paso.</li>                                    
                                    </ul>
                                </li>
                            </ul>
                            <p>Las bases de datos permitidas son SQLSever, Mysql, PostGrestSQL y Oracle</p>  
                            <ul>   
                                <li>
                                    Restricciones generales:
                                    <ul>
                                        <li>El acceso se ha de hacer una tabla o vista pública de cualquiera de las BD permitidas.</li>
                                        <li>El sistema, no detecta duplicados, ni campos con valor null. Es responsabilidad del usuario, hacer una tabla o vista donde la información esté normalizad</li>                                
                                    </ul>
                                </li>
                            </ul>
                        </div>         
                    </div>
                </div>
            </div>
            <div id="ayuda_30" class="wrapCol">
                <div class="contenido">
                    <div class="wrapCol">
                        <div class="header-resource">
                            <a style="display: inline-flex;margin-right: 110px;"href="#" id="soporte_30" onclick="solicitarSoporte();" class="btn">Solicitud de soporte</a>
                            <a style="display: inline-flex" href="#" id="volver_30" onclick="volver();" class="btn">Volver</a>
                           
                            <div class="h1-container">
                                <h1>3. Integración de los datos</h1>
                            </div>
                        </div>
                        <div class="contenido">
                            <div id="ayuda_31" class="grupo grupo-subtitulo">
                                <h3 class="titulo-principal">El asistente para la creación de un conjunto de datos tiene tres pasos principales:</h3>
                                <ul>
                                    <li><b>1. Descripción de los datos</b> donde el usuario incluye la información más descriptiva del conjunto de datos.</li>
                                    <li><b>2. Origen de los datos</b> donde el usuario configura el acceso a los datos que desea incorporar.</li>
                                    <li style="color:#b57809"><b>3. Integración de los datos</b> donde el usuario relaciona sus datos con la Estructura de Información Interoperable de Aragón EI2A.</li>
                                </ul>
                                <h3 class="titulo-principal">3.1. Selección de entidad principal del EI2A</h3>
                                <p>En este paso, el usuario dispone de la opción de alinear los campos de la tabla indicada como origen de datos, con el estándar de datos establecido por el Gobierno de Aragón a través del modelo ontológico EI2A. Este paso permite conectar e integrar el nuevo conjunto de datos con el resto de datasets de Aragón Open Data.</p>
                                <p>El proceso es opcional y si el usuario no desea realizarlo, dispone de la opción "Omitir paso" para finalizar el asistente.</p>
                                <p>La primera acción a realizar es escoger cuál es la entidad principal que representa a los datos que se quieren incorporar.</p>                                
                            </div>
                            <div id="ayuda_32" class="grupo grupo-subtitulo">
                                <h3 class="titulo-principal">El asistente para la creación de un conjunto de datos tiene tres pasos principales:</h3>
                                <ul>
                                    <li><b>1. Descripción de los datos</b> donde el usuario incluye la información más descriptiva del conjunto de datos.</li>
                                    <li><b>2. Origen de los datos</b> donde el usuario configura el acceso a los datos que desea incorporar.</li>
                                    <li style="color:#b57809"><b>3. Integración de los datos</b> donde el usuario relaciona sus datos con la Estructura de Información Interoperable de Aragón EI2A.</li>
                                </ul>
                                <h3 class="titulo-principal">3.2. Alineación con los atributos</h3>
                                <p>Después de escoger la entidad principal que representa a los datos que se quieren incorporar (paso 3.1), el usuario debe indicar a qué atributo corresponde cada uno de los campos de la tabla origen.</p>
                                <p>Por cada campo de origen, se puede asignar un atributo relacionado con la entidad principal o si es necesario, con un atributo de una entidad relacionada con la principal.</p>
                                <p>Los atributos de la entidad principal y las entidades relacionadas junto con sus atributos disponibles, aparecen en la lista desplegable proporcionada para la asignación de cada campo.</p>
                                <p>Para realizar un emparejamiento, seleccionar un valor de la lista desplegable y pulsar en el botón "Asignar". Según se vayan emparejando campos y atributos, se irán visualizando en la parte superior de "Campos asignados". Si se desea eliminar un emparejamiento, se puede pulsar en el botón "Eliminar" correspondiente y el campo volverá a la sección de pendientes de emparejar.</p>
                                <ul>
                                    <li>
                                        Una vez finalizado el asistente el usuario podrá:
                                        <ul>
                                            <li>Acceder al paso 1 a través del listado para modificar el conjunto de datos.</li>
                                            <li>Solicitar la publicación del conjunto de datos para que desde la administración se valide su incorporación en el banco de datos de Aragón Open Data.</li>
                                        </ul>
                                    </li>
                                </ul>
                            </div>
                        </div>          
                    </div>
                </div>
            </div>  
            <div id="ayuda_40" class="wrapCol">
                <div class="contenido">
                    <div class="wrapCol">
                        <div class="header-resource">
                            <a style="display: inline-flex;margin-right: 110px;"href="#" id="soporte_40" onclick="solicitarSoporte();" class="btn">Solicitud de soporte</a>
                            <a style="display: inline-flex" href="#" id="volver_40" onclick="volver();" class="btn">Volver</a>
                            <div class="h1-container">
                                <h1>Listado de conjunto de datos</h1>
                            </div>
                        </div>
                        <div class="contenido">
                            <div id="ayuda_41" class="grupo grupo-subtitulo">
                                <h3 class="titulo-principal">Descripción</h3>
                                <p>Es la página principal después del login, donde los usuarios navegarán automáticamente.<p>
                                <p>En esa encontramos un listado y unas opciones de búsqueda a modo de encabezado.<p>
                                <h3 class="titulo-principal">Las opciones búsqueda</h3>
                                <p>Se compone de dos zonas para vista de los administradores:</p>
                                <ul>
                                    <li>Filtros por estado. Los botones de estado disponibles son:
                                        <ul>
                                            <li>En espera de validación</li>
                                            <li>En corrección</li>
                                            <li>Desechado</li>
                                            <li>Validado</li>
                                            <li>Solicitud de modificación</li>
                                        </ul>
                                    </li>
                                    <li>Caja de búsqueda, para buscar el conjunto de datos mediante texto libre.</li>
                                </ul>
                                <h3 class="titulo-principal">El resultado de la búsqueda o listado</h3>
                                <p>Los resultados de la búsqueda se componen de los siguientes elementos:
                                <ul>
                                    <li>Información sobre el número de resultados obtenidos.</li>
                                    <li>Paginado de resultados.</li>
                                    <li>Cada encabezado ordena alfabéticamente de manera ascendente y descendente.</li>
                                </ul> 
                                <p>El listado de resultados muestra los siguientes campos</p>
                                <ul>
                                    <li>Nombre del conjunto de datos (<i>con enlace a ficha de conjunto de datos, o al último paso del asistente donde se quedó el usuario o al paso primero si no finalizo el mismo</i>).</li>
                                    <li>Nombre de usuario solicitante.</li>
                                    <li>Fecha de creación.</li>
                                    <li>Fecha de última modificación.</li>
                                </ul>   
                                <p>Los administradores visualizan todos los que se encuentren en cualquier estado, excepto “Borrador”.</p>
                                <p>Los demás usuarios verán sus conjuntos de datos en todos sus estados.</p> 
                            </div>
                        </div>          
                    </div>
                </div>
            </div>                  
            <div id="ayuda_50"class="wrapCol">
                <div class="contenido">
                    <div class="wrapCol">
                        <div class="header-resource">
                            <a style="display: inline-flex;margin-right: 110px;"href="#" id="soporte_50" onclick="solicitarSoporte();" class="btn">Solicitud de soporte</a>
                            <a style="display: inline-flex" href="#" id="volver_50" onclick="volver();" class="btn">Volver</a>
                            <div class="h1-container">
                                <h1>Ficha del conjunto de datos</h1>
                            </div>
                        </div>
                        <div class="contenido">
                            <div id="ayuda_51" class="grupo grupo-subtitulo">
                                <h3 class="titulo-principal">Descripción general</h3>
                                <p>Es la página donde se muestra toda la información del conjunto de datos, una vez terminado el asistente.</p>
                                <p>El acceso o navegación a la ficha se realiza a través del campo descripción en el listado de resultados del conjunto de datos.</p>
                                <p>Al carga la página se realiza una comprobación de que la estructura de los datos aprobados en la misma que la actual. Si la comprobación falla, la página muestra una alerta a modo de popup indicándolo.</p>
                                <p>La ficha se compone de:</p>
                                <ul>
                                    <li>Una barra de acciones posibles sobre el conjunto de datos.</li>
                                    <li>Todos los atributos cumplimentados por el usuario en el asistente de creación del conjunto de datos.</li>
                                    <li>Una muestra del conjunto de datos subido en formato de lista ordenable.</li>
                                </ul>
                                <h3 class="titulo-principal">Funcionamiento</h3>
                                <p>La barra de acciones posibles contiene los siguientes botones:</p>
                                <ul>
                                    <li>
                                        Botones que se muestran a los usuarios:
                                        <ul>
                                            <li>Con conjunto de datos en estado ‘Borrador’ y ‘En corrección'-> botón: ‘Solicitar publicación’ que solicita la publicación al admnistrador</li>
                                            <li>Con conjunto de datos en estado -> botón: ‘Solicitar publicación’ que solicita la publicación al administrador</li>
                                            <li>Con conjunto de datos en estado ‘Validado’ -> botón: ‘Solicitar modificación’ que solicita el poder modificar los datos validados anteriormente</li>
                                        </ul>
                                    </li>
                                    <li>
                                        Botones que se muestran a los administradores:
                                        <ul>
                                            <li>Con conjunto de datos en estado ‘En espera de validación’ -> botones : ‘Validar’, ‘Corregir’ y ‘Desechar’.</li>
                                            <li>Con conjunto de datos en estado ‘Solicitud de modificación’ -> botones : ‘Validar’, ‘Desechar’.</li>
                                        </ul>
                                    </li>
                                </ul>
                                <p>Al pulsar cualquiera de estos botones aparece una ventana emergente, con un cuadro de texto para que los usuarios y administradores puedan enviarse indicaciones acerca del cambio de estado, tanto en su solicitud (para los usuarios), como en su respuesta (para los administradores).</p>
                                <table>
                                    <thead>
                                        <tr>
                                            <th>Tipo usuario</th>
                                            <th>Estado actual</th>
                                            <th>Botón</th>
                                            <th>Estado final</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td>Usuario</td>
                                            <td>Borrador</td>
                                            <td>Solicitar publicación</td>
                                            <td>En espera de validación</td>
                                        </tr>
                                        <tr>
                                            <td>Usuario</td>
                                            <td>En corrección</td>
                                            <td>Solicitar publicación</td>
                                            <td>En espera de validación</td>
                                        </tr>
                                        <tr>
                                            <td>Usuario</td>
                                            <td>Borrador</td>
                                            <td>Solicitar modificación</td>
                                            <td>En espera de validación</td>
                                        </tr>
                                        <tr>
                                            <td>Administrador</td>
                                            <td>Solicitud de modificación</td>
                                            <td>Validar</td>
                                            <td>En correción</td>
                                        </tr>
                                        <tr>
                                            <td>Administrador</td>
                                            <td>Solicitud de modificación</td>
                                            <td>Desechar</td>
                                            <td>Validado</td>
                                        </tr>
                                        <tr>
                                            <td>Administrador</td>
                                            <td>En espera de validación</td>
                                            <td>Validar</td>
                                            <td>Validado</td>
                                        </tr>
                                        <tr>
                                            <td>Administrador</td>
                                            <td>Solicitud de modificación</td>
                                            <td>Desechar</td>
                                            <td>Desechado</td>
                                        </tr>
                                        <tr>
                                            <td>Administrador</td>
                                            <td>En espera de validación</td>
                                            <td>Corregir</td>
                                            <td>En corrección</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>          
                    </div>
                </div>
            </div>
        </div>        
    </div> 
</div> 
{% endblock %}

{% block javascripts %}
   {{ parent() }}
    <script type="text/javascript" src="/js/ayuda.js"></script>
{% endblock %}